<style type="text/css">
  input.ng-invalid.ng-dirty{
    border:1px solid red;
  }
</style>
<ion-view view-title="What's My Number?">
  <ion-content>
  <p>
    <ul>
      <li>Player ID: {{user.playerId}}</li>
      <li>Token: {{user.token}}</li>
      <li>Logged In: {{user.loggedIn}}</li>
      <li>Username: {{user.username}}</li>
    </ul>
  </p>
    <!-- <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list> -->

    <form ng-submit="register(user)" name="registerForm" ng-hide="user.registered">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input  type="email" 
                    placeholder="Email address" 
                    ng-model="user.username" 
                    required>
          </label>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input  type="password" 
                    placeholder="Password" 
                    ng-model="user.password" 
                    ng-minlength="8"
                    required>
          </label>

          <label class="item item-input">
            <span class="input-label">Repeat Password</span>
            <input  type="password" 
                    placeholder="Repeat password" 
                    ng-model="user.password_confirm" 
                    required>
          </label>
        </div>
        <div class="padding">
          <button type="submit" 
                  class="button button-block button-positive"
                  ng-disabled="registerForm.$invalid">Register</button>
        </div>
      </form>

      <form ng-submit="login(user)" name="loginForm" ng-hide="user.loggedIn">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input  type="email" 
                    placeholder="Email address" 
                    ng-model="user.username" 
                    value="{{username}}"
                    required>
          </label>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input  type="password" 
                    placeholder="Password" 
                    ng-model="user.password" 
                    ng-minlength="8"
                    required>
          </label>         
        </div>
        <div class="padding">
          <button type="submit" 
                  class="button button-block button-positive"
                  ng-disabled="loginForm.$invalid">Login</button>
        </div>
      </form>

      <div class="padding" ng-show="user.loggedIn">
      <h3>
          You are logged in.
      </h3>
          <button type="submit" 
                  ng-click="logout()"
                  class="button button-block button-positive">Log out</button>
      </div>
  </ion-content>
</ion-view>