<style type="text/css">
  input.ng-invalid.ng-dirty{
    border:1px solid red;
  }
</style>
<ion-view view-title="What's My Number?">
  <ion-content>
  <div class="padding">
    <ul>
      <!-- <li>Player ID: {{user.playerId}}</li>
      <li>Token: {{user.token}}</li> -->
      <li ng-show="user.loggedIn">Logged in as: {{user.username}}</li>
      <!-- <li>Logged In: {{user.loggedIn}}</li> -->
    </ul>
  </div>
    <!-- <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list> -->

    <form ng-submit="register(user)" name="registerForm" ng-show="user.playerId == null">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input  type="email" 
                    placeholder="Email address" 
                    ng-model="registerUser.email" 
                    required>
          </label>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input  type="password" 
                    placeholder="Password" 
                    ng-model="registerUser.password" 
                    ng-minlength="8"
                    required>
          </label>

          <label class="item item-input">
            <span class="input-label">Repeat Password</span>
            <input  type="password" 
                    placeholder="Repeat password" 
                    ng-model="registerUser.password_confirm" 
                    required>
          </label>
        </div>
        <div class="padding" ng-show="registerError.email">
          This email address is already registered.
        </div>
        <div class="padding" ng-show="registerError.general">
          There was a problem registering your account.
        </div>
        <div class="padding">
          <button type="submit" 
                  class="button button-block button-balanced"
                  ng-disabled="registerForm.$invalid">Register</button>
        </div>
    </form>

      <!-- <form ng-submit="forgettenPassword()" name="forgottenPasswordForm" ng-hide="registerFormIsOpen || loginFormIsOpen">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input  type="email" 
                    placeholder="Email address" 
                    ng-model="forgottenEmail" 
                    required>
          </label>
        </div>
        <div class="padding">
          <button type="submit" 
                  class="button button-block button-positive"
                  ng-disabled="forgottenPasswordForm.$invalid">Reset Password</button>
        </div>
      </form> -->

    <form ng-submit="login()" name="loginForm" ng-show="!user.loggedIn && user.playerId > 0">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input  type="email" 
                  placeholder="Email address" 
                  ng-model="loginUser.username" 
                  required>
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input  type="password" 
                  placeholder="Password" 
                  ng-model="loginUser.password" 
                  ng-minlength="8"
                  required>
          </label>         
        </div>
        <div class="padding" ng-show="loginError">
          Your details were not recognised.
        </div>
        <div class="padding">
          <button type="submit" 
                  class="button button-block button-positive"
                  ng-disabled="loginForm.$invalid">Login</button>
        </div>
        <div class="padding">
          <a ng-click="loginFormIsOpen = false;registerFormIsOpen = true;forgottenPasswordFormIsOpen = false">Register</a>
        </div>
    </form>
      <div class="padding" ng-hide="user.loggedIn">
        <button type="submit" 
                ng-click="facebookLogin()"
                class="button button-block button-positive">Connect with Facebook</button>
      </div>
      <div class="padding" ng-hide="user.loggedIn">
        <button type="submit" 
                ng-click="facebookRegister()"
                class="button button-block button-positive">Register with Facebook</button>
      </div>
  
    <!-- <div class="padding" ng-hide="forgottenPasswordFormIsOpen">
        <button class="button button-small button-energized"
                ng-click="loginFormIsOpen = false;registerFormIsOpen = false;forgottenPasswordFormIsOpen = true">I've forgotten my password</button>
    </div> -->

    <div class="padding" ng-show="user.loggedIn">
        <button type="submit" 
                ng-click="logout()"
                class="button button-block button-calm">Log out</button>
    </div>

    <!-- <div class="padding" ng-hide="loginFormIsOpen">
        <a ng-click="loginFormIsOpen = true;registerFormIsOpen = false;forgottenPasswordFormIsOpen = false">Login</a>
    </div> -->
    <!-- <div class="padding" ng-hide="registerFormIsOpen">
        <a ng-click="loginFormIsOpen = false;registerFormIsOpen = true;forgottenPasswordFormIsOpen = false">Register</a>
    </div> -->

  </ion-content>
</ion-view>